// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-primary{
    background-color: #6d5d5d !important;
    border-color: #6d5d5d !important;
}
.btn-primary:hover{
    background-color: rgba(109, 93, 93, 0.67) !important;
    border-color: rgba(109, 93, 93, 0.67) !important;
}
.price-product{
    color: rgb(121, 33, 65) !important;
}
.badge-success{
    background-color: #28a745 !important;
}
.badge-danger{
    background-color: #dc3545 !important;
}
.form-control:focus{
    border-color: #6d5d5d !important;
    box-shadow: none !important;
}
.img-table{
    margin-right: 1rem !important;
}
.is-invalid .multiselect__tags{
    border: 1px solid #dc3545 !important;
}
.is-invalid .v-money{
    border: 1px solid #dc3545 !important;
}
